{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Unit_tracking</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style = "background-color: #CCFFCC;">
      <a class="navbar-brand font-weight-bold" href="{% url 'index' %}">Unit_tracking</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li>
            <a class="font-weight-bold nav-link" href="{% url 'user_detail' user.pk %}">ユーザー情報閲覧</a>
          </li>
          <li>
            <a class="font-weight-bold nav-link" href="{% url 'user_update' user.pk %}">ユーザー情報更新</a>
          </li>
          <li>
            <a class="font-weight-bold nav-link" href="{% url 'logout' %}">ログアウト</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="font-weight-bold nav-link" href="{% url 'login' %}">
            ログインはこちら
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %} 
    {% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- <script src="{% static "app/js/plugins/responsive-paginate.js" %}"></script> -->
    <script src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>
