{% extends "base.html" %}

{% block content %}
 <h1 class = "login-title text-lg-center mt-4 mb-4 col-12">単位管理アプリへようこそ！</h1>

<div class="row align-content-center pt-3 ml-4 mr-4" style = " flex-direction: column;" >
    <!-- 左側、ログインエリア -->
    
    <div class=" col-md-8">
        <div class="card-body">
            <form action="{% url 'login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
        </div>
    </div>

    <!-- 右側、会員登録エリア -->
    <div class = "col-md-8">
         <div class="card-body">
            <a href="{% url 'user_create' %}" class="btn btn-success btn-lg btn-block" >会員登録</a>
         </div>
    </div>
</div>

{% endblock %}