{% extends "base.html" %}
{% block content %}
<form action="" method="POST">
    {{ form.non_field_errors }}
    <table class="table ml-4" style = "width:90%;">
        <tbody>
            {% for field in form %}
                <tr>
                    <th style = "width:20%;"><label class = "h5 ml-2"  for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                    <td>{{ field }} {{ field.errors }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    <div class = " text-center">
    <button type="submit" class="btn btn-success btn-lg pl-5 pr-5" >保存</button>
    </div>
</form>
{% endblock %}