{% extends "base.html" %}
{% block content %}
<table class="table">
    <tbody>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>学部</th>
            <td>{{ user.get_undergraduate_display }}</td>
        </tr>
        <tr>
            <th>学科</th>
            <td>{{ user.get_cource_display }}</td>
        </tr>
        <tr>
            <th>取得単位</th>
            <td>{{ user.obtainedu_unit }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}